/* --- Universal Box Sizing with Inheritance --- */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* --- Colours --- */
$rg: #fde7da;
$s: #9e6f53;
$w: #f5f6fa;
$t: transparent;

/* --- Styles --- */
body {
  margin: 0;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  // background: linear-gradient( #ffffe5, #ffe7d3, #f5cec8 );
}

div,
div::before,
div::after {
  height: 90vmin;
  width: 65vmin;
  top: 50%;
  left: 50%;
  border-radius: 5%;
  position: absolute;
  background-repeat: no-repeat;
}

div {
  transform: translate3d( -65%, -50%, 0 );
  background: linear-gradient( $rg, #e6b6a2 );
  box-shadow: inset 0 0.5vmin 1.8vmin rgba( $s, 0.6 ),
              inset 0 -1.3vmin 1vmin rgba( $s, 0.8 ),
              -2vmin 1vmin 3vmin 0 rgba( $s, 0.2 );

  // front
  &::before {
    content: '';
    display: block;
    transform: translate3d( -20%, -50%, 0 );
    background-color: $rg;
    box-shadow: -2vmin 1vmin 3vmin 0 rgba( $s, 0.5 );
    // background: linear-gradient() 100% 0 / 15.75em 40em,
    // linear-gradient() 0.25em 2em / 19.75em 36em;
  }

  // extra details for back
  // &::after {
  //   content: '';
  //   display: block;
  //   background-color: $w;
  //   transform: translate3d( -30%, -50%, 0 );
  // }
}
