/* --- Universal Box Sizing with Inheritance --- */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* --- Colours --- */
$rgl: #ffe3e0;
$rg: #ffdcd8;
$rgd1: #d8ada7;
$rgd2: #986962;
$w: #f5f6fa;
$t: transparent;

/* --- Styles --- */
body {
  margin: 0;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

div,
div::before,
div::after {
  height: 90vmin;
  width: 63vmin;
  top: 50%;
  left: 50%;
  border-radius: 4vmin;
  position: absolute;
  background-repeat: no-repeat;
}

div {
  transform: translate3d( -64%, -50%, 0 );
  background-image:
    // lens black
    radial-gradient( circle at 6.1% 4.5%, #253044 .5vmin, #253044 calc( 0.5vmin + 1px ), #131919 1vmin, #060200 1.4vmin, $t calc( 1.4vmin + 1px)),

    // background
    linear-gradient( $rg, $rgd1 );
  box-shadow:
    // background
    inset 0 0.6vmin 1.8vmin 0.2vmin rgba( $rgd2, 0.5 ),
    inset -1vmin -1.5vmin 1.5vmin 0.1vmin rgba( $rgd2, 0.9 ),
    inset 0 -1.5vmin 1.2vmin 0 rgba( $rgd1, 0.8 ),
    inset -2vmin 0.5vmin 0.2vmin 0.3vmin rgba( $rgd1, 0.4 ),
    inset 0 2vmin 0.5vmin 0 rgba( $rgl, 0.9 ),
    inset 0.2vmin 0 0.6vmin 1.4vmin rgba( $rgl, 0.8 );

  /* --- front --- */
  &::before {
    content: '';
    display: block;
    transform: translate3d( -22%, -50%, 0 );
    background-color: $rg;
    box-shadow: -2vmin 1vmin 3vmin 0 rgba( $rgd2, 0.5 );
    // background: linear-gradient() 100% 0 / 15.75em 40em,
    // linear-gradient() 0.25em 2em / 19.75em 36em;
  }

  // extra details for back
  // &::after {
  //   content: '';
  //   display: block;
  //   background-color: $w;
  //   transform: translate3d( -30%, -50%, 0 );
  // }
}
