/* --- Universal Box Sizing with Inheritance --- */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* --- Colours --- */
$rg: #fddbc9;
$w: #f5f6fa;
$t: transparent;

/* --- Styles --- */
body {
  margin: 0;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  // background: linear-gradient( #ffffe5, #ffe7d3, #f5cec8 );
}

div,
div::before,
div::after {
  height: 90vmin;
  width: 65vmin;
  top: 50%;
  left: 50%;
  border-radius: 5%;
  position: absolute;
}

div {
  background-repeat: no-repeat;
  transform: translate3d( -65%, -50%, 0 );
  background-color: darken( $rg, 8.5 );
  z-index: 10;

  &::before {
    content: '';
    display: block;
    transform: translate3d( -20%, -50%, 0 );
    background-color: $rg;
    z-index: -10;
  }

  // extra details for back
  // &::after {
  //   content: '';
  //   display: block;
  //   background-color: $w;
  //   transform: translate3d( -30%, -50%, 0 );
  // }
}
