/* --- Universal Box Sizing with Inheritance --- */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* --- Colours --- */
/* --- Styles --- */
body {
  margin: 0;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

div,
div::before,
div::after {
  height: 90vmin;
  width: 63vmin;
  top: 50%;
  left: 50%;
  border-radius: 5%;
  position: absolute;
  background-repeat: no-repeat;
}

div {
  -webkit-transform: translate3d(-64%, -50%, 0);
          transform: translate3d(-64%, -50%, 0);
  background-image: radial-gradient(circle at 8% 5%, black 1vmin, transparent calc( 1vmin + 1px)), -webkit-gradient(linear, left top, left bottom, from(#ffe9dc), to(#e5b5a1));
  background-image: radial-gradient(circle at 8% 5%, black 1vmin, transparent calc( 1vmin + 1px)), linear-gradient(#ffe9dc, #e5b5a1);
  -webkit-box-shadow: inset 0 0.6vmin 1.8vmin 0.2vmin rgba(158, 111, 83, 0.5), inset -1vmin -1.5vmin 1.5vmin 0.1vmin rgba(158, 111, 83, 0.9), inset 0 -1.5vmin 1vmin 0 rgba(229, 181, 161, 0.8), inset -2vmin 0.5vmin 0.5vmin 0.5vmin rgba(229, 181, 161, 0.3), inset 0 2vmin 0.5vmin 0 rgba(252, 237, 230, 0.8), inset 0.2vmin 0 0.6vmin 1.6vmin rgba(253, 222, 202, 0.7);
          box-shadow: inset 0 0.6vmin 1.8vmin 0.2vmin rgba(158, 111, 83, 0.5), inset -1vmin -1.5vmin 1.5vmin 0.1vmin rgba(158, 111, 83, 0.9), inset 0 -1.5vmin 1vmin 0 rgba(229, 181, 161, 0.8), inset -2vmin 0.5vmin 0.5vmin 0.5vmin rgba(229, 181, 161, 0.3), inset 0 2vmin 0.5vmin 0 rgba(252, 237, 230, 0.8), inset 0.2vmin 0 0.6vmin 1.6vmin rgba(253, 222, 202, 0.7);
  /* side white */
}

div::before {
  content: '';
  display: block;
  -webkit-transform: translate3d(-22%, -50%, 0);
          transform: translate3d(-22%, -50%, 0);
  background-color: #ffe9dc;
  -webkit-box-shadow: -2vmin 1vmin 3vmin 0 rgba(158, 111, 83, 0.5);
          box-shadow: -2vmin 1vmin 3vmin 0 rgba(158, 111, 83, 0.5);
}
